{  
   "url":"{{big_ip}}",
   "ldev":"uni/tn-{{tenant_name}}/lDevVip-{{ldev_name}}",
   "devtype":"VIRTUAL",
   "vlans":[  
      {  
         "lif":"{{ext_lif}}",
         "name":"",
         "lIfCtxDn":"{{ext_lIfCtxDn}}",
         "tag":"{{ext_encap}}",
         "interfaces":[  
            "1.1"
         ],
         "selfips":[  
            {  
               "address":"{{ext_selfip}}",
               "netmask":"255.255.255.0",
               "traffic_group":"traffic-group-local-only",
               "allow_service":"all"
            }
         ]
      },
      {  
         "lif":"{{int_lif}}",
         "name":"",
         "lIfCtxDn":"{{int_lIfCtxDn}}",
         "tag":"{{int_encap}}",
         "interfaces":[  
            "1.2"
         ],
         "selfips":[  
            {  
               "address":"{{int_selfip}}",
               "netmask":"255.255.255.0",
               "traffic_group":"traffic-group-local-only",
               "allow_service":"all"
            }
         ]
      }
   ]
}
